body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
}

#overlay-popup-lgpd {
    transition: background-color .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    z-index: 999999;
}

#overlay-popup-lgpd.showing {
    background-color: rgba(92, 82, 82, 0.5);
}

#overlay-popup-lgpd #content-popup-lgpd {
    position: relative;
    transition: all .3s ease .2s;
    width: 70vw;
    max-width: 800px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    transform: translate(0, 20vh) scale(.2);
    opacity: 0;
    pointer-events: none;
}

#overlay-popup-lgpd #content-popup-lgpd.showing {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

#overlay-popup-lgpd #content-popup-lgpd .content h1 {
    color: #f9a418;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

#overlay-popup-lgpd #content-popup-lgpd .content button.__btn-close-popup-lgpd {
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    border: none;
    font-size: 16px;
    transform: scale(1, .8);
    background-color: transparent;
    font-family: sans-serif;
    cursor: pointer;
}

#overlay-popup-lgpd #content-popup-lgpd .content p {
    margin: 20px 0;
    color: #333;
}

#overlay-popup-lgpd #content-popup-lgpd .content p a {
    display: block;
    margin: 10px 0 0 0;
}

#popup-manager-cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 40px);
    padding: 10px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    background-color: white;
    z-index: 9999;
}

#popup-manager-cookies .container-manager-actions {
    display: flex;
    align-items: center;
    margin:0 20px;
}

#popup-manager-cookies .container-manager-actions button {
    display: block;
    white-space:  nowrap;
    border: none;
    padding: 10px 15px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: .75rem;
    cursor: pointer;
}

#popup-manager-cookies .container-manager-actions button.__btn-accept {
    background-color: #f9a418;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#popup-manager-cookies .container-manager-actions button.__btn-accept:hover {
    background-color: #da8e15;
}

#popup-manager-cookies .container-manager-actions button:not(:first-child) {
    margin-left: 20px;
}

#popup-manager-cookies .container-manager-actions button.__btn-more-options {
    background-color: transparent;
    color: black;
    text-decoration: underline;
    font-weight: 700;
}

#popup-manager-cookies .container-manager-actions button.__btn-more-options:hover {
    color: #442a01;
}

#modal-privacy-options {
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 99999;
}

#modal-privacy-options #content-modal-privacy-options {
    transition: all .3s ease;
    width: 70vw;
    max-width: 800px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    transform: translate(0, 20vh) scale(.2);
    opacity: 0;
}

#modal-privacy-options.showing-modal {
    pointer-events: all;
    background-color: rgba(92, 82, 82, 0.5);
}

#modal-privacy-options.showing-modal #content-modal-privacy-options {
    transform: scale(1);
    opacity: 1;
}

#modal-privacy-options #content-modal-privacy-options .container-options-paragraph {
    position: relative;
}

#modal-privacy-options #content-modal-privacy-options .container-options-paragraph h1 {
    color: #f9a418;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

#modal-privacy-options #content-modal-privacy-options button.__btn-close-modal {
    position: absolute;
    right: 0px;
    top: 0px;
    color: black;
    border: none;
    font-size: 16px;
    transform: scale(1, .8);
    background-color: transparent;
    font-family: sans-serif;
    cursor: pointer;
}

#modal-privacy-options #content-modal-privacy-options .container-options-actions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#modal-privacy-options #content-modal-privacy-options .container-options-actions ul li.option-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #efefef;
}

#modal-privacy-options #content-modal-privacy-options .container-options-actions ul li.text-option-1 {
    padding: 0 20px;
    font-size: .8rem;
    color: #555;
    display: block;
}

#modal-privacy-options #content-modal-privacy-options .label-option {
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#modal-privacy-options #content-modal-privacy-options .label-option span {
    transition: all .3s ease;
    display: block;
    width: 5px;
    height: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 10px;
    transform: rotate(-45deg);
}

#modal-privacy-options #content-modal-privacy-options .label-option.actived span {
    transition: all .3s ease;
    display: block;
    width: 5px;
    height: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 10px;
    transform: rotate(45deg);
}

#modal-privacy-options #content-modal-privacy-options button.__btn-accept-options {
    display: block;
    white-space:  nowrap;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: .75rem;
    cursor: pointer;
    margin: 10px 0 10px auto;
    background-color: #f9a418;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#modal-privacy-options #content-modal-privacy-options button.__btn-accept-options:hover {
    background-color: #da8e15;
}

@media (max-width: 1024px){
        
    #overlay-popup-lgpd #content-popup-lgpd .content h1 {
        font-size: .8rem;
    }

    #overlay-popup-lgpd #content-popup-lgpd .content p {
        font-size: .7rem;
    }

    #popup-manager-cookies {
        flex-direction: column;
        box-shadow: 0 -10px 50px rgba(0,0,0,.5);
    }

    #popup-manager-cookies .container-manager-paragraph p, #popup-manager-cookies .container-options-paragraph p {
        font-size: .7rem;
    }

    #popup-manager-cookies .container-manager-actions {
        justify-content: center;
    }
    #popup-manager-cookies .container-manager-actions button {
        padding: 5px 7px;
        font-size: .6rem;
    }
    #modal-privacy-options #content-modal-privacy-options .container-options-paragraph h1 {
        font-size: .9rem;
    }
    #modal-privacy-options #content-modal-privacy-options .container-options-paragraph p {
        font-size: .7rem;
    }
    #modal-privacy-options #content-modal-privacy-options .container-options-actions ul li.text-option-1 {
        font-size: .7rem;
    }
    #modal-privacy-options #content-modal-privacy-options .container-options-actions ul li.option-1 {
        font-size: .7rem;
        padding: 2px 7px;
    }
    #modal-privacy-options #content-modal-privacy-options button.__btn-accept-options {
        padding: 5px 7px;
        font-size: .6rem;
    }
    #modal-privacy-options #content-modal-privacy-options .container-options-actions ul li.option-2 {
        margin-top: 10px;
    }
}