
@{
    ViewBag.Title = "Política de Privacidade";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section style{
    <!--CSS-->
    <link rel="stylesheet" href="~/Content/css/politica-privacidade.min.css">
}

<body>

<!-- SETAR O ARTICLE COM O CSS DO MAIN, IR NA PÁGINA DO MIRA E EM QUEM SOMOS PRA PEGAR O VALOR DO MAIN -->
    <main id="page-politica-privacidade">
        <h1>
            POLÍTICA DE PRIVACIDADE DE DADOS E TERMOS DE USO
        </h1>
        <h2>
            1. OBJETIVO
        </h2>
        <p>
            Na <strong>MIRA TRANSPORTES</strong>, privacidade e segurança são prioridades e nos comprometemos com a
            transparência no tratamento de seus dados pessoais. Por isto, esta política tem o objetivo de estabelecer as
            diretrizes para a coleta, uso, armazenamento, tratamento e proteção dos dados pessoais de usuários/clientes
            que acessam ou usam nosso site.
        </p>
        <p>
            Assim, ao utilizar nosso site, você entende que coletaremos e usaremos suas informações pessoais nas formas
            descritas nesta Política, sob as normas de Proteção de Dados (LGPD, Lei Federal 13.709/2018) e demais
            legislações brasileiras aplicáveis.
        </p>
        <h2>
            1. REFERÊNCIAS
        </h2>
        <ul>
            <li>
                Lei 13.709/2018 – Lei Geral de Proteção de Dados
            </li>
        </ul>
        <h2>
            3. DEFINIÇÕES
        </h2>
        <p>
            <strong>Usuário</strong>: todas as pessoas físicas que utilizarão ou visitarão o(s) Site(s) e/ou
            Aplicativo(s), maiores de 18 (dezoito) anos ou emancipadas e totalmente capazes de praticar os atos da vida
            civil ou os absolutamente ou relativamente incapazes devidamente representados ou assistidos.
        </p>
        <p>
            <strong>Dados Pessoais</strong>: significa quaisquer informações fornecidas e/ou coletadas pela <strong>MIRA
                TRANSPORTES</strong>, por qualquer meio, ainda que públicos, que: (I) identifiquem, ou que, quando
            usadas em combinação com outras informações tratadas pela <strog>MIRA TRANSPORTES</strog> identifiquem um
            indivíduo; ou (II) por meio das quais a identificação ou informações de contato de uma pessoa física possam
            ser derivadas. Os Dados Pessoais podem estar em qualquer mídia ou formato, inclusive registros eletrônicos
            ou computadorizados, bem como em arquivos baseados em papel.
        </p>
        <p>
            <strong>Finalidade</strong>: o objetivo, o propósito que a MIRA TRANSPORTES deseja alcançar a partir de cada
            ato de tratamento das informações pessoais.
        </p>
        <p>
            <strong>Necessidade</strong>: justificativa pelo qual é estritamente necessário coletar dados pessoais, para
            atingir a finalidade, evitando-se a coleta excessiva.
        </p>
        <p>
            <strong>Bases legais</strong>: fundamentação legal que torna legítimo o tratamento de dados pessoais para
            uma determinada finalidade prévia por parte da MIRA TRANSPORTES.
        </p>
        <p>
            <strong>Consentimento</strong>: autorização expressa e inequívoca dada pelo Usuário titular do dado pessoal
            para que a MIRA TRANSPORTES trate seus dados pessoais para uma finalidade previamente descrita, na qual a
            base legal necessária para o ato demande a autorização expressa do titular.
        </p>
        <h2>
            4. DIRETRIZES GERAIS E ESPECÍFICAS
        </h2>
        <p>
            Esta política se aplica, em geral, a todos os Usuários e potenciais Usuários dos serviços oferecidos pela
            <strong>MIRA TRANSPORTES</strong> incluindo Usuários dos sites ou outros meios operados e resume como
            poderemos coletar, produzir, receptar, classificar, utilizar, acessar, reproduzir, transmitir, distribuir,
            processar, arquivar, armazenar, eliminar, avaliar ou controlar a informação, modificar, comunicar,
            transferir, difundir ou extrair os dados coletados, incluindo as informações de identificação pessoal, de
            acordo com as bases legais aplicáveis e todas as leis de privacidade e proteção de dados em vigor.
        </p>
        <p>
            Caso o Usuário não se enquadre nas diretrizes acima e/ou não concorde, ainda que em parte, com os termos e
            condições contidos nesta Política de Privacidade, não deverá acessar e/ou utilizar os serviços oferecidos
            pela <strong>MIRA TRANSPORTES</strong>, bem como os sites e serviços por ela operados.
        </p>
        <h2>
            4.1. COLETA E USO DE INFORMAÇÕES PESSOAIS
        </h2>
        <p>
            A <strong>MIRA TRANSPORTES</strong> apenas trata Dados Pessoais em situações em que está autorizado
            legalmente ou mediante seu expresso e inequívoco consentimento do Usuário.
        </p>
        <p>
            Assim, o Usuário está ciente de que fornece informação de forma consciente e voluntária por meio do
            preenchimento de FORMULÁRIOS/ETC, disponibilizados pelo site da <strong>MIRA TRANSPORTES</strong> e/ou
            através de aplicativos.
        </p>
        <p>
            Quando o Usuário realiza o cadastro e/ou preenche formulários oferecidos pela <strong>MIRA
                TRANSPORTES</strong>, inclusive em seu site, determinados Dados Pessoais solicitados serão mantidos em
            sigilo e serão utilizadas apenas para o propósito que motivou o cadastro, conforme abaixo:
        </p>
        <div class="table-policy-privacy" style="color: red;">
            <table  cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Categoria de Dados Pessoais
                        </th>
                        <th>
                            Finalidade
                        </th>
                        <th>
                            Base Legal
                        </th>
                        <th>
                            Fundamento Jurídico
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Nome e Email
                        </td>
                        <td>
                            Contato com o Comitê de Privacidade de Dados e com a MIRA TRANSPORTES para dúvidas
                            gerais.<br />
                            (Comitê de Privacidade, Fale Conosco e Contato)
                        </td>
                        <td>
                            Consentimento
                        </td>
                        <td>
                            Coletamos somente dados necessários, com a finalidade legítima, respeitando sua privacidade,
                            e em conformidade com a Lei Geral de Proteção de Dados Pessoais 13.709/2018.<br /><br />
                            Ao continuar, você confirma que leu nossa Política de Privacidade e Termos de Uso, obtendo
                            desta maneira, pleno conhecimento sobre como seus dados pessoais serão tratados, consentindo
                            assim que o tratamento se dê com a finalidade de retorno ao seu contato.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nome, email e Currículo
                        </td>
                        <td>
                            Encaminhar dados pessoais e profissionais para participação em processo seletivo (Trabalhe
                            Conosco)
                        </td>
                        <td>
                            Consentimento
                        </td>
                        <td>
                            Coletamos somente dados necessários, com a finalidade legítima, respeitando sua privacidade,
                            e em conformidade com a Lei Geral de Proteção de Dados Pessoais 13.709/2018.<br /><br />
                            Ao continuar, você confirma que leu nossa Política de Privacidade e Termos de Uso, obtendo
                            desta maneira, pleno conhecimento sobre como seus dados pessoais serão tratados, consentindo
                            assim que o tratamento se dê com a finalidade de participação em processos seletivos.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            Conforme descrito na presente Política, a <strong>MIRA TRANSPORTES</strong> tem bases legais para coletar,
            produzir, receptar, classificar, utilizar, acessar, reproduzir, transmitir, distribuir, processar, arquivar,
            armazenar, eliminar, avaliar ou controlar a informação, modificar, comunicar, transferir, difundir ou
            extrair dados sobre o Usuário.
        </p>
        <p>
            Assim, em consonância com a Lei Geral de Proteção de Dados, seus dados só serão coletados, tratados e
            armazenados mediante prévio e expresso consentimento, evidenciando o compromisso de transparência e boa-fé
            da <strong>MIRA TRANSPORTES</strong>, para com seus usuários/clientes, seguindo as regulações legislativas
            pertinentes.
        </p>
        <h2>
            4.2. COMPARTILHAMENTO E TRATAMENTO DE DADOS PESSOAIS
        </h2>
        <p>
            A <strong>MIRA TRANSPORTES</strong> apenas trata Dados Pessoais em situações em que está autorizado
            legalmente ou mediante seu expresso e inequívoco consentimento do Usuário.
        </p>
        <p>
            A <strong>MIRA TRANSPORTES</strong> não disponibilizará Dados Pessoais coletados em seus sites para outras
            finalidades que não sejam para a viabilização da prestação de serviços e o aprimoramento da experiência de
            uso, nos comprometendo, no entanto, a implementar todas as medidas técnicas e organizacionais apropriadas,
            de forma a proteger todos os dados coletados.
        </p>
        <p>
            A <strong>MIRA TRANSPORTES</strong> poderá divulgar os Dados Pessoais coletados a terceiros, nas seguintes
            situações e nos limites exigidos e autorizados pela Lei:
        </p>
        <ul class="list-roman">
            <li>
                Com os seus clientes e parceiros quando necessário e/ou apropriado à prestação de serviços relacionados;
            </li>
            <li>
                Com as empresas e indivíduos contratados para a execução de determinadas atividades e serviços em nome
                da <strong>MIRA TRANSPORTES</strong>;
            </li>
            <li>
                Com fornecedores e parceiros para consecução dos serviços contratados com a <strong>MIRA
                    TRANSPORTES</strong> (como tecnologia da informação, contabilidade, entre outros);
            </li>
            <li>
                Para propósitos administrativos como: pesquisa, planejamento, desenvolvimento de serviços, segurança e
                gerenciamento de risco.
            </li>
            <li>
                Quando necessário em decorrência de obrigação legal, determinação de autoridade competente, ou decisão
                judicial.
            </li>
        </ul>
        <p>
            Nas hipóteses de compartilhamento de Dados Pessoais com terceiros, todos os sujeitos mencionados nos itens I
            a VI deverão utilizar os Dados Pessoais partilhados de maneira consistente e de acordo com os propósitos
            para os quais foram coletados (ou com os quais o Usuário consentiu previamente) e de acordo com o que foi
            determinado por esta Política de Privacidade, outras declarações de privacidade de website ou países, e
            todas as leis de privacidade e proteção de dados aplicáveis.
        </p>
        <p>
            Em certas circunstâncias, a <strong>MIRA TRANSPORTES</strong> poderá divulgar Dados Pessoais, na medida
            necessária ou apropriada, para órgãos governamentais, consultores e outros terceiros com o objetivo de
            cumprir com a legislação aplicável ou com uma ordem ou intimação judicial ou, ainda, se acreditar de boa-fé
            que tal ação seja necessária para:
        </p>
        <ul class="list-roman">
            <li>
                Cumprir com uma legislação que exija tal divulgação;
            </li>
            <li>
                Investigar, impedir ou tomar medidas relacionadas a atividades ilegais suspeitas ou reais ou para
                cooperar com órgãos públicos ou para proteger a segurança nacional;
            </li>
            <li>
                Execução de seus contratos;
            </li>
            <li>
                Investigar e se defender contra quaisquer reivindicações ou alegações de terceiros;
            </li>
            <li>
                Proteger a segurança ou a integridade dos serviços (por exemplo, o compartilhamento com empresas que
                estão sofrendo ameaças semelhantes);
            </li>
            <li>
                Exercer ou proteger os direitos, a propriedade e a segurança da <strong>MIRA TRANSPORTES</strong> e suas
                empresas coligadas;
            </li>
            <li>
                Proteger os direitos e a segurança pessoal de seus funcionários, usuários ou do público;
            </li>
            <li>
                Em caso de venda, compra, fusão, reorganização, liquidação ou dissolução da <strong>MIRA
                    TRANSPORTES</strong>.
            </li>
        </ul>
        <p>
            A <strong>MIRA TRANSPORTES</strong> poderá cientificar os respectivos Usuários sobre eventuais
            demandas legais que resultem na divulgação de informações pessoais, nos termos do que
            foi exposto no item 4.2, a menos que tal cientificação seja vedada por lei ou proibida por
            mandado judicial ou, ainda, se a requisição for emergencial. A <strong>MIRA TRANSPORTES</strong> poderá
            contestar essas demandas se julgar que as solicitações são excessivas, vagas ou feitas por
            autoridades incompetentes.
        </p>
        <h2>
            4.3. ARMAZENAMENTO E SEGURANÇA DOS DADOS PESSOAIS
        </h2>
        <p>
            Os dados coletados, inclusive os Dados Pessoais, serão utilizados e armazenados durante o tempo necessário
            para que as finalidades elencadas na presente Política de Privacidade sejam atingidas, considerando os
            direitos dos titulares dos dados e dos controladores.
        </p>
        <p>
            De modo geral, seus dados serão mantidos enquanto a relação entre você e a <strong>MIRA TRANSPORTES</strong>
            perdurar. Findado o período de armazenamento dos dados pessoais, estes serão excluídos de nossas bases de
            dados ou anonimizados, ressalvadas as hipóteses legalmente previstas no artigo 16 da Lei Geral de Proteção
            de Dados - LGPD, a saber:
        </p>
        <ul class="list-roman">
            <li>
                Cumprimento de obrigação legal ou regulatória pelo controlador;
            </li>
            <li>
                Estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos
                dados pessoais;
            </li>
            <li>
                Transferência a terceiro, desde que respeitados os requisitos de tratamento de
                dados dispostos nesta Lei; ou
            </li>
            <li>
                Uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que
                anonimizados os dados.
            </li>
        </ul>
        <p>
            Isto é, informações pessoais sobre você que sejam imprescindíveis para o cumprimento de
            determinações legais, judiciais e administrativas e/ou para o exercício do direito de defesa
            em processos judiciais e administrativos serão mantidas, a despeito da exclusão dos demais
            dados.
        </p>
        <p>
            Empregamos as medidas técnicas e organizativas aptas a proteger os dados pessoais,
            garantindo a confidencialidade, integridade e inviolabilidade dos mesmos, através do uso de
            ferramentas físicas, eletrônicas e gerenciais orientadas para a proteção da sua privacidade.
            Além disso, também contamos com medidas de segurança apropriadas aos riscos e com
            controle de acesso às informações armazenadas.
        </p>
        <p>
            A <strong>MIRA TRANSPORTES</strong> se compromete a adotar as melhores posturas para evitar
            incidentes de segurança. Contudo, é necessário destacar que nenhuma página virtual é
            inteiramente segura e livre de riscos. É possível que, apesar de todos os nossos protocolos
            de segurança, problemas de culpa exclusivamente de terceiros ocorram, como ataques
            cibernéticos de hackers, ou também em decorrência da negligência ou imprudência do
            próprio usuário/cliente.
        </p>
        <p>
            Em caso de incidentes de segurança que possa gerar risco ou dano relevante, nos
            comprometemos a comunicar nossos usuários/clientes e a Autoridade Nacional de Proteção de Dados sobre o
            ocorrido, em consonância com as disposições da Lei Geral de Proteção
            de Dados.
        </p>
        <h2>
            4.4. DIREITOS DOS USUÁRIOS
        </h2>
        <p>
            A <strong>MIRA TRANSPORTES</strong> assegura a seus usuários/clientes seus direitos de titular previstos
            no artigo 18 da Lei Geral de Proteção de Dados. Dessa forma, você pode, de maneira gratuita
            e a qualquer tempo:
        </p>
        <ul>
            <li>
                <strong>Confirmar a existência de tratamento de dados</strong>, de maneira simplificada ou em
                formato claro e completo.
            </li>
            <li>
                <strong>Acessar seus dados</strong>, podendo solicitá-los em uma cópia legível sob forma impressa ou
                por meio eletrônico, seguro e idôneo.
            </li>
            <li>
                <strong>Corrigir seus dados</strong>, ao solicitar a edição, correção ou atualização destes.
            </li>
            <li>
                <strong>Limitar seus dados</strong> quando desnecessários, excessivos ou tratados em
                desconformidade com a legislação através da anonimização, bloqueio ou eliminação.
            </li>
            <li>
                <strong>Solicitar a portabilidade de seus dados</strong>, através de um relatório de dados cadastrais
                que a <strong>MIRA TRANSPORTES</strong> trata a seu respeito.
            </li>
            <li>
                <strong>Eliminar seus dados</strong> tratados a partir de seu consentimento, exceto nos casos previstos
                em lei.
            </li>
            <li>
                <strong>Revogar seu consentimento</strong>, desautorizando o tratamento de seus dados.
            </li>
            <li>
                <strong>Informar-se sobre a possibilidade de não fornecer seu consentimento</strong> e sobre as
                consequências da negativa.
            </li>
        </ul>
        <p>
            Para o exercício destes direitos, você deve entrar em contato com a <strong>MIRA TRANSPORTES</strong>,
            através dos meios disponíveis nesta Política.
        </p>
        <p>
            Para estas situações e de forma a garantir a sua correta identificação como titular dos dados
            pessoais objeto da solicitação, é possível que solicitemos documentos ou demais
            comprovações que possam garantir sua identidade. Nessa hipótese, você será informado
            previamente.
        </p>
        <span style="color: red;">
            <h2>
                4.5. COOKIES E DADOS DE NAVEGAÇÃO
            </h2>
            <p>
                A <strong>MIRA TRANSPORTES</strong> faz uso de Cookies, que são arquivos de texto enviados pela
                plataforma ao seu computador e que nele se armazenam, que contém informações
                relacionadas à navegação do site. Em suma, os Cookies são utilizados para aprimorar a
                experiência de uso.
            </p>
            <p>
                Ao acessar nosso site e consentir com o uso de Cookies, você manifesta conhecer e aceitar
                a utilização de um sistema de coleta de dados de navegação com o uso de Cookies em seu
                dispositivo.
            </p>
            <p>
                Você pode, a qualquer tempo e sem nenhum custo, alterar as permissões, bloquear ou
                recusar os Cookies, ajustando as configurações do seu navegador (consulte a Ajuda do
                navegador para saber como fazer isso). Esteja ciente de que a desativação de cookies
                afetará a funcionalidade deste e de muitos outros sites que você visita. A desativação de
                cookies geralmente resultará na desativação de determinadas funcionalidades e recursos
                deste site.
            </p>
        </span>
        <h2>
            4.6. ALTERAÇÕES DESTA POLÍTICA DE PRIVACIDADE
        </h2>
        <p>
            A atual versão da Política de Privacidade foi formulada e atualizada pela última vez em XX
            de outubro de 2021.
        </p>
        <p>
            Reservamos o direito de modificar essa Política de Privacidade a qualquer tempo,
            principalmente em função da adequação a eventuais alterações feitas em nosso site ou em
            âmbito legislativo. Recomendamos que você a revise com frequência.
        </p>
        <p>
            Eventuais alterações entrarão em vigor a partir de sua publicação em nosso site e sempre
            lhe notificaremos acerca das mudanças ocorridas.
        </p>
        <p>
            Ao utilizar nossos serviços e fornecer seus dados pessoais após tais modificações, você as
            consente.
        </p>
        <h2>
            4.7. RESPONSABILIDADES E CONTATO
        </h2>
        <p>
            A <strong>MIRA TRANSPORTES</strong> prevê a responsabilidade dos agentes que atuam nos processos
            de tratamento de dados, em conformidade com os artigos 42 ao 45 da Lei Geral de Proteção
            de Dados.
        </p>
        <p>
            Nos comprometemos em manter esta Política de Privacidade atualizada, observando suas
            disposições e zelando por seu cumprimento, assumindo o compromisso de buscar condições
            técnicas e organizativas seguramente aptas a proteger todo o processo de tratamento de
            dados.
        </p>
        <p>
            Caso a Autoridade Nacional de Proteção de Dados exija a adoção de providências em
            relação ao tratamento de dados realizado pela MIRA TRANSPORTES, comprometemo-nos
            a segui-las.
        </p>
        <ul class="list-roman">
            <li>
                Quaisquer consequências decorrentes da negligência, imprudência ou imperícia dos
                usuários em relação a seus dados individuais. Garantimos e nos responsabilizamos
                apenas pela segurança dos processos de tratamento de dados e do cumprimento
                das finalidades descritas no presente instrumento.<br /><br />Destacamos que a responsabilidade em
                relação à confidencialidade dos dados de
                acesso é do usuário.
            </li>
            <li>
                Ações maliciosas de terceiros, como ataques de hackers, exceto se comprovada
                conduta culposa ou deliberada da <strong>MIRA TRANSPORTES</strong>.
            </li>
            <li>
                Destacamos que em caso de incidentes de segurança que possam gerar risco ou
                dano relevante aos nossos usuários/clientes, comunicaremos aos afetados e a
                Autoridade Nacional de Proteção de Dados sobre o ocorrido e cumpriremos as
                providências necessárias.
            </li>
            <li>
                Inveracidade das informações inseridas pelo usuário/cliente nos registros
                necessários e quaisquer consequências decorrentes de informações falsas ou
                inseridas de má-fé, sendo estas, de inteira responsabilidade do usuário/cliente.
            </li>
        </ul>
        <p>
            Caso tenha dúvidas sobre esta Política de Privacidade, sobre os dados pessoais que
            tratamos ou ainda, para o exercício de seus direitos, você pode entrar em contato com a
            nossa equipe, através do e-mail <a href="mailto:lgpd@mira.com.br" style="color: red;">lgpd@mira.com.br</a>.
        </p>
        <h2>
            4.8. FORO DE ELEIÇÃO
        </h2>
        <p>
            Esta política está sujeita à Lei da República Federativa do Brasil e o Foro da Comarca de
            São Paulo é competente para dirimir qualquer controvérsia com relação à mesma.
        </p>
    </main>
    @section script{
        <script src="~/Content/js/scrollSuave.js"></script>
        <script>
            gsap.from('article > p', {
                scrollTrigger: {
                    trigger: 'article > p',
                    start: 'top bottom'
                },
                scale: 0,
                opacity: 0,
                duration: .5,
                ease: Back.easeOut.config(1.7),
                stagger: .2
            });
        </script>
    }

</body>